body {
  font-family: "Helvetica", sans-serif;
}

.hero {
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
 /* background-image: url("path/to/your/image"); */

  background-image: url("ahittelm.github.io/candle.jpg");
  background-size: cover;
  text-align: cover;
}


.hero h1 {
  color: white  ; /* Or your choice color */
}

html, body {
  padding: 0;
  margin: 0;
}



.container p {
  margin: auto;
  max-width: 700px;
  padding: 10px;
  color:#B09CAC;
  text-align: center;
  font-size: 30px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display:inline;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline;
    color: #40366C    ;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 23px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.projName{
	margin: auto;
  	max-width: 700px;
  	padding: 10px;
  	color: #DAB4CC   ;
  	text-align: center;
  	font-size: 30px;	
}
.projects p{
	margin: auto;
  	max-width: 700px;
  	padding: 10px;
  	color: #B4D3DC;
  	text-align: center;
  	font-size: 30px;
}

.art{
	margin: auto;
  	max-width: 700px;
  	padding: 10px;
  	color: #DAB4CC   ;
  	text-align: center;
  	font-size: 30px;
}

.photography{
	margin: auto;
  	max-width: 700px;
  	padding: 10px;
  	color: #DAB4CC  ;
  	text-align: center;
  	font-size: 30px;
}
